# flyctl launch added from .gitignore
**/*.db
**/*.py[cod]
**/*.web
**/__pycache__

# flyctl launch added from .web/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.web/_static

# dependencies
.web/node_modules
.web/.pnp
.web/**/.pnp.js

# testing
.web/coverage

# next.js
.web/.next
.web/out

# production
.web/build

# misc
.web/**/.DS_Store
.web/**/*.pem

# debug
.web/**/npm-debug.log*
.web/**/yarn-debug.log*
.web/**/yarn-error.log*

# local env files
.web/**/.env.local
.web/**/.env.development.local
.web/**/.env.test.local
.web/**/.env.production.local

# vercel
.web/**/.vercel

# DS_Store
.web/**/.DS_Store

# flyctl launch added from .web/.pytest_cache/.gitignore
# Created by pytest automatically.
.web/.pytest_cache/**/*

# flyctl launch added from .web/node_modules/tailwindcss/stubs/.gitignore
!.web/node_modules/tailwindcss/stubs/**/*
fly.toml
Dockerfile
