black==24.2.0
datasets==2.17.0
fire==0.5.0
fqdn==1.5.1
isoduration==20.11.0
jsonpointer==2.4
more-itertools==10.2.0
mypy==1.8.0
notebook==7.1.0
openai==1.12.0
pillow==10.2.0
pip==24.0
python-dotenv==1.0.1
reflex==0.4.0
strictly-typed-pandas==0.2.1
tenacity==8.2.3
uri-template==1.3.0
webcolors==1.13
wheel==0.42.0
pandas
better-profanity
